<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="60" name="PurgeApi">
    <Properties>
        <Property name="fileName">/var/log/purge.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5p %c %x - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="slackmailer" level="info" />
    </Loggers>
</Configuration>
